.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 100px 0 50px;
}
.container .card
{
    position: relative;
    min-width: 320px;
    height: 600px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s, box-shadow 0.4s;
}
.container .card:hover .box
{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .contentOffer
{
    padding: 20px;
    text-align: center;
}
.container .card .box .contentOffer .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    background: #f00;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}
.container .card .box .contentOffer .icon .fa
{
    color: #fff;
    font-size: 2em;
}
.container .card .box .contentOffer .offerh3
{
    font-size: 1.8em;
    color: #fff;
    font-weight: 300;
}
.container .card .box .contentOffer .offerh4
{
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}
.container .card .box .contentOffer .offerh4 sup
{
    font-size: 0.75em;
    font-weight: 300;
}
.container .card .box .contentOffer ul
{
    position: relative;
}
.container .card .box .contentOffer ul li
{
    list-style: none;
    color: #fff;
    margin: 5px 0;
}
.container .card .box .contentOffer ul li .fa-check
{
    color: #0f0;
}
.container .card .box .contentOffer ul li .fa-times
{
    color: #f00;
}
.container .card .box .contentOffer a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #f00;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.container .card:nth-child(1) .box .contentOffer a,
.container .card:nth-child(1) .box .contentOffer .icon
{
    background: #2196f3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(2) .box .contentOffer a,
.container .card:nth-child(2) .box .contentOffer .icon
{
    background: #e91e63;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container .card:nth-child(3) .box .contentOffer a,
.container .card:nth-child(3) .box .contentOffer .icon
{
    background: #97dc47;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}