
.overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popup
{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 50px;
}
.hidden
{
  display: none;
}
.buy-button
{
  background: #202324;
  color: #63fac3;
  font-size: 24px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}
.close-button
{
  background: #202324;
  color: #333;
  font-size: 10px;
  padding: 2px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.h3Popup
{
  color: #333;
  line-height: 1em;
  font-weight: 300;
  font-size: 2em;
  padding: 0 !important;
}
.h2Popup
{
  font-size: 4em;
  color: #ff4d54;
  line-height: 1em;
}
.h2Popup span
{
    color: #333;
    font-size: 0.75em;
    text-transform: uppercase;
}
p
{
  color: #ff4d54;
  font-weight: 300;
}

/*.popup
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}
.contentBox
{
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.contentBox .imgBx
{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox .imgBx::before
{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #e7ffe0;
    border-radius: 50%;
}
.contentBox .imgBx img
{
    position: relative;
    max-width: 250px;
    z-index: 1;
}
.contentBox .content2
{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox .content2 h3
{
    color: #333;
    line-height: 1em;
    font-weight: 300;
    font-size: 2em;
}
.contentBox .content2 h2
{
    font-size: 4em;
    color: #ff4d54;
    line-height: 1em;
}
.contentBox .content2 h2  span
{
    color: #333;
    font-size: 0.75em;
    text-transform: uppercase;
}
.contentBox .content2 p
{
    font-weight: 300;
}
.contentBox .content2 a
{
    display: inline-block;
    padding: 10px 20px;
    background: #ff4d54;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
}
.contentBox .close
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url('assets/close.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

@media (max-width: 767px)
{
    .contentBox
    {
        width: 300px;
        height: auto;
        flex-direction: column;
    }
    .contentBox .imgBx
    {
        height: 200px;
        transform: translateY(-50px);
    }
    .contentBox .imgBx::before
    {
        background: #fff;
    }
    .contentBox .content2
    {
        height: auto;
        text-align: center;
        padding: 20px;
        padding-top: 0;
    }
    .close
    {
        top: -50px !important;
        right: -10px !important;
        background: #f3f3f3 url('assets/close.png');
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
    }
}*/